# Windows files
Thumbs.db
Desktop.ini
$RECYCLE.BIN/

# System / Temp files
*.tmp
*.log
*.bak
*.swp

# Node.js
node_modules/
npm-debug.log*

# Git Submodules fallback (avoid nested git conflicts)
.git/
.gitmodules
